@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain", sans-serif;
}

/*Barra de Navegação*/

.cabecalho{
    position: sticky;
    top: 0px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#menu{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #33312B;
    width: 100%;
    
}

#menu li{
    margin: 0 10px;
}

#menu li a{
    color:white;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#menu li a:hover{
    background-color: black;
    color: #FFBB00;
}


/*Corpo do site*/

#logo {
    position:absolute;
    top:170px;
    left: 100px;
}

body{
    height: 100%;
    background-color: #554D39;
}

#banner{
    background-image: url(/Imagens/Plano_de_fundo/banner.png);
    height: 1200px;
    background-size: contain;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
}

#conteudo{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#container p{
    
    margin: 0;
    width: 1250px;
    text-align: justify;
    padding: 0% 10%;
    font-size: 20px;
    color: #D5A523;
    font-weight: 700;
    font-family: "Poppins", sans-serif;   

    
    
}

#container h1{

    margin: 0;
    padding: 10% 10% 10px 9%;
    color: #f3d688;
    font-weight: 800;
    font-size: 30px;

}

#imagem-1{
    padding-right: 5%;
    padding-bottom: 10%;
    height: 800px;
}


/*Rodapé do site*/


footer{
    background-color: #33312B;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5);

}

#main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#redes-sociais ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    width: 100%;
    
}

#redes-sociais .link{
    padding-top: 3px;
    padding-left: 2px
}

#redes-sociais a:hover{
    color: #FFBB00;
}

#redes-sociais li{
   padding: 3px;
}

#redes-sociais a{
    color: white;
    text-decoration: none;
}

/*Imagens*/

#malenia{

    max-width: 100%;
    height: 100%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);

}





