@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain", sans-serif;
}

/*Barra de Navegação*/

.cabecalho{
    position: sticky;
    top: 0px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#menu{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #33312B;
    width: 100%;
    
}

#menu li{
    margin: 0 10px;
}

#menu li a{
    color:white;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#menu li a:hover{
    background-color: black;
    color: #FFBB00;
}

/*Formatação do hiperlink personagens*/

#personagens{

    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #f3d688; 
    text-decoration: none;
}

#personagens:hover{

    color: white;
    text-decoration: underline;
}


/*Formatação gerais da página*/

.conteudo-escrito, p {

    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #D5A523; 
    align-items: center;
    text-align: justify;
    line-height: 1.8;

}

#body {

    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    background-color: #554D39;
    height: 100%;
}

#body img {

    max-width: 900px;
    height: auto;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.8);

}

#body div {

    padding-top: 50px;

}

h1 {
    font-weight: bolder;
    letter-spacing: 1px;
    color: #f3d688;
    font-size: 40px;
    padding-bottom: 20px;
}

/*Formatação do Bloco Limgrave*/


#body-limgrave {

    display: flex;
    gap: 50px;
    
}


/*Formatação bloco Liurnia*/

#body-liurnia{

    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
}

#body-liurnia p{

    align-content: center;
}

/*Formatação bloco Caelid*/

#body-caelid {

    display: flex;
    flex-direction: row;
    gap: 50px;
}

/*Formatação bloco Montanha dos gigantes*/

#montanha-dos-gigantes {

    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
}

#gigantes-imagem {

    width: 600px;
    height: 600px;
}


/*Formatação bloco altos plato*/

#altos-plato {

    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 100px;
}

#imagem-plato {
    
    width: 800px;
    height: 410;
}


/*Rodapé*/

footer{

    background-color: #33312B;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5);
    padding-top: 0;

}

#main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#redes-sociais ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    width: 100%;
    
}

#redes-sociais .link{
    padding-top: 3px;
    padding-left: 2px
}

#redes-sociais a:hover{
    color: #FFBB00;
}

#redes-sociais li{
   padding: 3px;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
}