@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain", sans-serif;
}

/*Barra de Navegação*/

.cabecalho{
    position: sticky;
    top: 0px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#menu{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #33312B;
    width: 100%;
    
}

#menu li{
    margin: 0 10px;
}

#menu li a{
    color:white;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#menu li a:hover{
    background-color: black;
    color: #FFBB00;
}

/* Bloco - 1 - corpo */

body{
    height: 100%;
    background-color: #554D39;
}

#body-1-primeiro-bloco{
    
    padding-top: 100px;
    display: flex;
    gap: 30px;
}

#body-1 h1{
    position: absolute;
    padding: 50px 150px;
    color: #f3d688;
    font-weight: 900;
}

#body-1-primeiro-bloco .texto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding-left: 150px;

}

#body-1-primeiro-bloco .imagem{

    padding-right: 150px;
    
}

div .texto p{

    color: #D5A523;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 20px;
    

}
/* Bloco - 2 - corpo */

#body-2 {

    padding-top: 150px;
}

#body-2 h1{

    color:#f3d688;
    font-weight: 800;
    padding-right: 150px;
    padding-bottom: 10px;
    text-align: right;
}

#body-2 p{

    color: #D5A523;
    font-size: 20px;
    font-weight: 800;
    text-align: justify;
    
}


#body-2-segundo-bloco-texto{

    display: flex;
    text-align: justify;
    padding-right: 150px;
    gap: 30px;
    
}


#imagem-2{
    padding-left: 150px;
}

/*Bloco - 3 - corpo*/

#body-3-terceiro-bloco-texto{

    display: flex;
    gap: 30px;
    padding: 0px 150px 150px 150px;

}

#body-3{

    padding-top: 150px;
}

#body-3 p{
    
    color: #D5A523;
    font-size: 20px;
    font-weight: 800;
    text-align: justify;
    padding-bottom: 20px;
}

#body-3 h1 {
    padding: 0px 0px 10px 150px;
    color: #f3d688;
    font-weight: 800;
    
}


/*Rodapé do site*/


footer{
    background-color: #33312B;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5);

}

#main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#redes-sociais ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    width: 100%;
    
}

#redes-sociais .link{
    padding-top: 3px;
    padding-left: 2px
}

#redes-sociais a:hover{
    color: #FFBB00;
}

#redes-sociais li{
   padding: 3px;
}

#redes-sociais a{
    color: white;
    text-decoration: none;
}

/* Imagens */

#marika{
    
    width: 784px;
    height: 445px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#facas-negras{
    width: 784px;
    height: 448px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#radhan-malenia {
    width: 784px;
    height: 448px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}




